.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    border: 1px solid black;
    border-radius: 3%;
    padding: 20px;
}
.input-field {
    margin-bottom: 20px;
    width: 400px;
    height: 250px;
}
.text {
    text-align: center;
    margin-top: 60px;
}
.submit-button {
    width: 120px;
    height: 40px;
}